body {
  min-height: 500px;
  height: 100vh;
  margin: 0;
  background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);
  color: black;
  font-family: 'Nunito', sans-serif;
}

.container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: 50px;
}

.container h1 {
  font-weight: normal;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.container h1 span {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
  margin-left: 3px;
  margin-top: 0.2rem;
  flex-direction: column;
  justify-content: space-between;
}

.header-image {
  width: 100%;
  height: 190px;
  border-radius: 8px 8px 0 0;
  position: relative;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 10px;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  font-size: 14px;
}

button {
  background-color: gray;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: gray;
}

.complete {
  text-decoration: line-through;
  color: #888;
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 30px; 
  }
  
  .container h1 {
    font-size: 2rem; 
  }

  .header-image {
    height: 150px; 
  }
}
